.ChatMessages {
  display: grid;
  background-color: var(--white);
  padding: var(--spacing-md);
  width: 100%;
  gap: var(--spacing-md);
  overflow: auto;
  /* height: 63vh; */

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray-300);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-400);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-color);
  }
}

.ChatMessages__date-wrapper {
  display: grid;
  gap: var(--spacing-sm);
  align-items: center;
  width: 100%;
  gap: var(--spacing-md);
}

.ChatMessages__date-wrapper > .chip {
  justify-self: center;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}