:root {
  /* Generic colors */
  --red: #C4211B;
  --teal: #04445C;
  --cyan: #04ACF4;
  --blue: #0056b3;
  --pink: #FCC4DC;
  --gray: #A6ABBD;
  --green: #048444;
  --white: #ffffff;
  --black: #111111;
  --indigo: #4C0484;
  --purple: #7C0C84;
  --orange: #FB9F06;
  --yellow: #FCFB3B;

  /* Shades of grey */
  --gray-100: #fffbfe;
  --gray-200: #fafbfe;
  --gray-300: #fafafb;
  --gray-400: #e6ebf2;
  --gray-500: #b7c3d3;
  --gray-600: #93a4bc;
  --gray-700: #525c6b;
  --gray-800: #4d535b;
  --gray-900: #424953;

  /* Color scheme */
  --light-bg: #F5F5F5;
  --primary-color: #3574F5;
  --secondary-color: #A3FE94;
  --tertiary-color: #CA9EFF;
  --accent-color: #1EEF92;
  --success-color: #49C857;
  --warning-color: #FCE793;
  --danger-color: #E61E36;
  --dark-color: #131618;
  --gray-color: #F5F6FA;
  --grey-color: #9C9C9C;
  --soft-color: #f9f9f9;
  --disable-color: #F5F6FA;
  --border-color: #E9E9E9;
  --text-color: #1e2023;
  --text-contrast-color: #ffffff;
  --text-color-secondary: #BFBFBF;
  --text-color-disabled: #C2C3CD;

  /* Color scheme hover */
  --primary-color-hover: #215bcf;
  --secondary-color-hover: #7ad76b;
  --tertiary-color-hover: #9360d3;
  --accent-color-hover: #11ad67;
  --success-color-hover: #258a31;
  --warning-color-hover: #bda956;
  --danger-color-hover: #a20d1f;
  --dark-color-hover: #060607;
  --gray-color-hover: #e4e6ec;
  --grey-color-hover: #898888;
  --soft-color-hover: #e4e2e2;
  --disable-color-hover: #e1e2e6;
  --border-color-hover: #fbf8f8;

  /* Transitions */
  --transition-theme: all 0.5s ease;
  --transition-base: all 0.2s ease;
  --transition-transform: transform 0.2s ease;
  --transition-fade: opacity 0.15s linear;
  --transition-collapse: height 0.35s ease;
  --transition-tabs: all 0.2s;

  /* Fonts */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-headers: 'Itim', cursive;
  --font-size-base: 1rem;
  --font-size-xxl: calc(var(--font-size-base) * 2);
  --font-size-xl: calc(var(--font-size-base) * 1.5);
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-md: calc(var(--font-size-base) * 1);
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  --font-size-xs: calc(var(--font-size-base) * 0.75);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --h1-font-size: calc(var(--font-size-base) * 2.5);
  --h2-font-size: calc(var(--font-size-base) * 2);
  --h3-font-size: calc(var(--font-size-base) * 1.75);
  --h4-font-size: calc(var(--font-size-base) * 1.5);
  --h5-font-size: calc(var(--font-size-base) * 1.25);
  --h6-font-size: calc(var(--font-size-base));

  /* Screen breackpoints */
  --breakpoints-width-xxl: 2560px;
  --breakpoints-width-xl: 1920px;
  --breakpoints-width-lg: 1440px;
  --breakpoints-width-md: 1024px;
  --breakpoints-width-sm: 768px;
  --breakpoints-width-mxs: 525px;
  --breakpoints-width-xs: 425px;
  --breakpoints-width-xxs: 375px;

  /* animations */
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  /* zIndex */
  --message-z-index: 1000;
  --overlay-z-index: 1100;
  --modal-z-index: 1200;
  --chat-header-z-index: 1300;
  --important-z-index: 2000;

  /* Border */
  --border-width: 0.0625rem;
  --border-width-md: 0.125rem;
  --border-width-lg: 0.25rem;
  --border-width-xl: 0.375rem;
  --border-radius: 0.4rem;
  --border-radius-xl: 0.8rem;
  --border-radius-lg: 0.6rem;
  --border-radius-md: 0.4rem;
  --border-radius-sm: 0.2rem;
  --border-radius-pill: 2rem;
  --circle-radius: 50%;

  /* Spacing */
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 4rem;
  --spacing-xxxxl: 6rem;
  --spacing-xxxxxl: 8rem;
  --spacing-xxxxxxl: 12rem;
  --spacing-xxxxxxxl: 16rem;
  --spacing-xxxxxxxxl: 24rem;
  --spacing-xxxxxxxxxl: 32rem;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation-duration: var(--animate-duration);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-bg);
  transition: var(--transition-theme);
  font-family: var(--font-family-base);
}
