.input {
  width: 100%;
  border: 2px solid #E7E7E7;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-sm);

  & span {
    display: flex;
  }
}

.input input {
  width: 100%;
  height: 100%;
  border: none;
  outline-color: var(--grey-color);
  background-color: transparent;
  padding: var(--spacing-sm) var(--spacing-xs);
  font-size: var(--font-size-base);
}

.input-icon-grey {
  color: var(--grey-color);
}