.avatar,
.avatar figure {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);

  &.avatar-sm {
    width: 40px;
    height: 40px;
    font-size: var(--font-size-sm);
  }

  &.avatar-md {
    width: 60px;
    height: 60px;
  }

  &.avatar-lg {
    width: 80px;
    height: 80px;
    font-size: var(--font-size-xl);
  }

  &.avatar-xl {
    width: 160px;
    height: 160px;
  }

  &.avatar-circle {
    border-radius: 50%;
  }

  &.avatar-rounded {
    border-radius: var(--border-radius);
  }

  &.avatar-primary {
    background-color: var(--primary-color);
    color: var(--text-contrast-color);
  }

  &.avatar-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }

  &.avatar-tertiary {
    background-color: var(--tertiary-color);
    color: var(--text-contrast-color);
  }

  &.avatar-accent {
    background-color: var(--accent-color);
    color: var(--text-color);
  }

  &.avatar-success {
    background-color: var(--success-color);
    color: var(--text-color);
  }

  &.avatar-warning {
    background-color: var(--warning-color);
    color: var(--text-color);
  }

  &.avatar-danger {
    background-color: var(--danger-color);
    color: var(--text-contrast-color);
  }

  &.avatar-info {
    background-color: var(--info-color);
    color: var(--text-color);
  }

  &.avatar-dark {
    background-color: var(--dark-color);
    color: var(--text-contrast-color);
  }

  &.avatar-light {
    background-color: var(--light-color);
    color: var(--text-color);
  }

  &.avatar-gray {
    background-color: var(--gray-color);
    color: var(--text-color);
  }

  &.avatar-grey {
    background-color: var(--grey-color);
    color: var(--text-contrast-color);
  }

  &.avatar-soft {
    background-color: var(--soft-color);
    color: var(--text-color);
  }

  &.avatar-disable {
    background-color: var(--disable-color);
    color: var(--text-color-disabled);
  }
}

.avatar-circle .avatar-img,
.avatar-circle .avatar-placeholder {
  border-radius: 50%;
}

.avatar-rounded .avatar-img,
.avatar-rounded .avatar-placeholder {
  border-radius: var(--border-radius);
}

.avatar figure,
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar .avatar-placeholder {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 20px;
}

.avatar-eyes {
  color: var(--soft-color);
  display: flex;
  gap: 12px;
  position: relative;
  top: 6px;
}

.avatar-eyes::after,
.avatar-eyes::before {
  content: '';
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--soft-color);
}

.avatar-mouth {
  color: var(--soft-color);
  display: flex;
  gap: 10px;
}

.avatar-mouth::after {
  content: '';
  width: 24px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 1px 6px 0 0 var(--soft-color);
  transform: rotate(-25deg);
  position: relative;
  top: -10px;
}

.avatar-sm .avatar-eyes {
  gap: 8px;
}

.avatar-sm .avatar-eyes::after,
.avatar-sm .avatar-eyes::before {
  width: 8px;
  height: 8px;
}

.avatar-sm .avatar-mouth::after {
  width: 16px;
  height: 8px;
  top: -12px;
}